<body id="container">

  <header id="header">

  </header>

    <div class = "register-box" id="box">

        <form>

          <h3> Sign Up Now </h3>

            <label for="fullName"></label><br>
            <input type="text" id="fullName" placeholder="Enter Your Name"><br>

            <label for="email"></label><br>
            <input type="text" id="email" placeholder="Enter Your Email"><br>

            <label for="typePassword"></label><br>
            <input type="text" id="typePassword" placeholder="Enter Your Password"><br>

            <label for="confirmPassword"></label><br>
            <input type="text" id="confirmPassword" placeholder="Confirm Password"><br>

          <button type="submit" id="btnStyle"> Create Account </button>

          <p> already have an account? </p>

          <p id="loginText">Login Now!</p>

        </form>

    </div>

  <footer id="footer">

  </footer>

</body>
